footer {
    position: fixed;
    bottom: 0px;
}
.post {
    margin-top: auto;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

#about-me-photo {
    width: 10vw;
    max-width: 275px;
    min-width: 125px;
    border-radius: 50%;
    padding: 1em;
}

#greeting {
    margin: .5em;
}

#about-me-info {
    justify-content: center;
    display: flex;
    width: 70vw;
}

#about-me-info-general {
    align-self: flex-start;
    font-size: 100%;
    width: 30%;
    max-width: 250px;
    background: #83d1e0;
    padding: 2em;
}

#about-me-info-specific {
    font-size: 90%;
    align-self: flex-end;
    width: 70%;
    max-width: 500px;
    padding: 1.5em;
}

/* full */
@media (min-width: 2000px) {

  }
  
  /* ipad-ish */
  @media (max-width: 900px) {
    #about-me-info {
          flex-direction: column;
          align-items: center;
      }
    #about-me-info-general {
        align-self: auto;
        width: 60vw;
        max-width: none;
    }
    #about-me-info-specific {
        width: 75vw;
        max-width: none;
        align-self: center;
    }
  }
  
  /* smallest */
  @media (max-width: 500px) {
      #about-me-info-general {
        width: 70vw;
    }
    #about-me-info-specific {
        width: 90vw;
    }
  }

  @media (prefers-color-scheme: dark) {
    #about-me-info-general {
        background-color: #222;
    }
    }