@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* 
NOTES/TO DO
change nav-option selected from general border to border-bottom
add on hover to nav options animation to grow border bottom
*/

/* GLOBAL STYLES */
body {
    font-family: 'Roboto', Helvetica;
    font-weight: 400;
    background-color: #fff;
    color: #000;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #000;
}

/* NAV */
#main-nav {
    display: flex;
    margin: auto;
    width: 95%;

    border-bottom: #000 1px solid;
}
.nav-option {
    text-align: center;
    padding: 10px;

    /* border: goldenrod 1px solid; */
}
.red-underline-hover:hover {
  padding-bottom: 7px;
  border-bottom: 3px solid #FF4136;
}
#options-right {
    display: flex;
    margin-left: auto;
}

/* MEDIA QUERIES */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: #fff;
  }
  a {
    color: #fff;
  }
  #main-nav {
    border-bottom: #fff 1px solid;
  }
  }

@media (min-width: 2000px) {
  #main-nav {
    width: 80%;
  }
  }

@media (max-width: 768px) {
  #main-nav {
    width: 100%;
  }
  h1 {
    font-size: 28px;
  }
  }

@media (max-width: 480px) {
  html * {
    font-size: 14px;
  }
  h1 {
    font-size: 26px;
  }
  }