/* 
change nav-option selected from general border to border-bottom
add on hover to nav options animation to grow border bottom
*/

body {
    font-family: Helvetica;
    background-color: #fff;
    color: #000;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #000;
}

#main-nav {
    display: flex;
    margin: auto;
    width: 95%;

    border-bottom: #fff 1px solid;
}
.nav-option {
    text-align: center;
    padding: 10px;

    /* border: goldenrod 1px solid; */
}
}
#options-right {
    display: flex;
    margin-left: auto;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #fff;
    }
    a {
        color: #fff;
    }
  }

@media (min-width: 2000px) {
    #main-nav {
        width: 80%;
    }
  }

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    #main-nav {
      width: 100%;
    }
  }

@media (max-width: 480px) {
    body {
      color: red;
    }
  }