body {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 10px;
}
a {
    text-decoration: none;
    color: #000;
}

#main-nav {
    display: flex;
    margin: auto;
    width: 95%;
}
#options-right {
    display: flex;
    margin-left: auto;
}
.nav-option {
    text-align: center;
    padding: 5px;
    margin: 2px;
    border: 1.5px rgb(253, 253, 253) solid;
    border-radius: 5px;
}
