.title {
    text-decoration: underline;
    text-align: center;
}

#project-categories {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 5vw;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 60vw;
    margin: 3%;
}
.project-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 3%;
}
.project-text h3 {
    margin-top: 5px;
}
.project-text h3:hover {
    color: #ec7b85;
}
.project img {
    width: 15vw;
    min-width: 100px;
    max-width: 150px;
}

/* MEDIA QUERIES */
/* full */
@media (min-width: 2000px) {
    .project {
        width: 40vw;
    }
  }
  
  /* ipad-ish */
  @media (max-width: 1200px) {
    .project {
        width: 80vw;
    }
  }
  
  /* small */
  @media (max-width: 750px) {
    #project-categories {
        margin: 5vw;
    }
    .project {
        width: 90vw;
    }
  }